#search-results {
    width:100%;
}
tr:nth-child(odd) {
    background-color: lightgray;
}
.delete {
    float: right;
}
td input {
    width: 95%;
}
td button {
    max-width: 50%;
}
.count {
    float: right;
}
.search{
    float: left;
}
.add {
    float: right;
}